{% extends '::base.html.twig' %}

{% block body %}
    <div ng-app="doorApp" ng-controller="DoorStatusCtrl">
        {% raw %}
        <div class="ui-element">
            <div class="status" ng-class="statusClass">
                <div class="message">
                    Status: <span>{{ statusMessage }}</span>
                </div>
                <div class="status-date">{{ statusDate | date: 'dd.MM.yyyy HH:mm:ss' }}</div>
            </div>
        </div>
        {% endraw %}

        <div class="ui-element">
            <img class="snapshot" src="{{ path('gdc_core_snapshot') }}" alt=""/>
        </div>
        <div class="ui-element">
            <a class="btn btn-primary btn-lg btn-trigger">Öffnen/Schließen</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/controllers/DoorStatusCtrl.js') }}"></script>
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}
